
span{
    font-size: 20px;
    font-weight:  bold;
}
h1{
    background-image:url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
    font-family: helvetica;
    font-size: 100px;
    font-weight:  bold;
    color: khaki;
    text-align: center;
}
h2{
    background-color:mediumspringgreen ;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

h3{
    background-color:lightcoral;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
h4{
    background-color:skyblue;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
a{
    font-family: Helvetica;
    font-weight: bold;
    color: blue; 
}
footer{
    
        background-image:url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
        font-family: helvetica;
        font-size: 15px;
        font-weight:  bold;
        color: khaki;
        text-align: justify;
}
footer form{
    font-weight:  bold;
    color: black;
    text-align: center;   
}